<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">MEAN.JS</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.class" class="{{item.class}}" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
				<a ng-switch-when="dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown">
		                    {{item.title}}
		                    <b class="caret"></b>
		                </a>
		                <ul ng-switch-when="dropdown" class="dropdown-menu"> 
		                    <li data-ng-repeat="subitem in item.subitems" data-ng-if="subitem.shouldRender(authentication.user);" ng-switch="subitem.class" class="{{subitem.class}}" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
		                        <a ng-switch-when="dropdown-submenu" href="#" class="dropdown-toggle" data-toggle="dropdown">
		                            {{subitem.title}}
		                        </a>
		                        <ul ng-switch-when="dropdown-submenu" class="dropdown-menu"> 
		                            <li data-ng-repeat="subSubitem in subitem.subitems" data-ng-if="subSubitem.shouldRender(authentication.user);" ng-switch="subSubitem.class" class="{{subSubitem.class}}" ui-route="{{subSubitem.uiRoute}}" ng-class="{active: $uiRoute}">
		                                <a ng-switch-when="dropdown-submenu" href="#" class="dropdown-toggle" data-toggle="dropdown">
		                                    {{subSubitem.title}}
		                                </a>
		                                <ul ng-switch-when="dropdown-submenu" class="dropdown-menu"> 
		                                    <li data-ng-repeat="subSubSubitem in subSubitem.subitems" data-ng-if="subSubSubitem.shouldRender(authentication.user);" ng-switch="subSubSubitem.class" class="{{subSubSubitem.class}}" ui-route="{{subSubSubitem.uiRoute}}" ng-class="{active: $uiRoute}">
		                                        <a href="/#!/{{subSubSubitem.link}}">{{subSubSubitem.title}}</a>
		                                    </li>                
		                                </ul>
		                                
		                                <a ng-switch-default href="/#!/{{subSubitem.link}}">{{subSubitem.title}}</a>
		                            </li>                
		                        </ul>
		                        
		                        <a ng-switch-default href="/#!/{{subitem.link}}">{{subitem.title}}</a>
		                    </li>                     
		                </ul>
		                
		                <a ng-switch-default href="/#!/{{item.link}}">{{item.title}}</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Signup</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Signin</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{authentication.user.displayName}} <b class="caret"></b>
                </a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
